@using GESIIMO.Model
@using GESIIMO.Services

@inject IPropietarioService propietarioService
@inject IListaService listaService

@if (visible)
{
    <EditForm Model="@propietario" OnValidSubmit="OnValidSubmit">
        <DataAnnotationsValidator />
        <ModalLayout>
            <Header>
                <div id="modalLabel" class="h5 modal-title font-weight-bold">@title</div>
                <button @onclick="OnCancel" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </Header>
            <Body>
                <div class="row">
                    <div class="form-group col-12 col-sm-12 col-md-6 col-lg-12">
                        <RadzenLabel Text="Conjunto" />
                        <RadzenDropDown @bind-Value="propietario.IdConjunto"
                                        TValue="int" Data="@conjuntos"
                                        TextProperty="Descripcion" ValueProperty="Id"
                                        Placeholder="Seleccione..."
                                        class="w-100" />
                        <ValidationMessage For="@(() => propietario.IdConjunto)" />
                    </div>
                    <div class="form-group col-12 col-sm-12 col-md-12 col-lg-12">
                        <RadzenLabel Text="Nombre" />
                        <RadzenTextBox @bind-Value="@propietario.Nombre" class="w-100" />
                        <ValidationMessage For="@(() => propietario.Nombre)" />
                    </div>

                    <div class="form-group col-12 col-sm-12 col-md-12 col-lg-12">
                        <RadzenLabel Text="Apellido" />
                        <RadzenTextBox @bind-Value="@propietario.Apellido" class="w-100" />
                        <ValidationMessage For="@(() => propietario.Apellido)" />
                    </div>

                    <div class="form-group col-12 col-sm-12 col-md-6 col-lg-6">
                        <RadzenLabel Text="Email" />
                        <RadzenTextBox @bind-Value="@propietario.Mail" class="w-100" />
                        <ValidationMessage For="@(() => propietario.Mail)" />
                    </div>

                    <div class="form-group col-12 col-sm-12 col-md-6 col-lg-6">
                        <RadzenLabel Text="Celular" />
                        <RadzenTextBox @bind-Value="@propietario.Celular" class="w-100" />
                        <ValidationMessage For="@(() => propietario.Celular)" />
                    </div>

                </div>

                @*<RadzenNotification />*@
            </Body>
            <Footer>
                <RadzenButton ButtonStyle="ButtonStyle.Danger" ButtonType="ButtonType.Button" Click="OnCancel">Cancelar</RadzenButton>
                <RadzenButton ButtonStyle="ButtonStyle.Success" ButtonType="ButtonType.Submit">Guardar</RadzenButton>
            </Footer>
        </ModalLayout>
    </EditForm>
}

@code {
    [Parameter] public EventCallback OnSaved { get; set; }
    [Parameter] public EventCallback OnCancel { get; set; }

    private Propietario propietario = new Propietario();
    private IEnumerable<Lista> conjuntos;

    bool visible = false;
    string title;

    protected override async Task OnInitializedAsync()
    {
        conjuntos = await listaService.GetLista("Conjunto", null, null);
    }


    public async Task Show(int idPropietario)
    {
        if (idPropietario == 0)
        {
            title = "Crear Propietario";
            propietario = new Propietario()
            {
                Estado = true
            };
        }
        else
        {
            title = "Editar Propietario";
            propietario = await propietarioService.GetPropietario(idPropietario);
        }

        visible = true;
    }

    public void Hide()
    {
        visible = false;
    }

    private async Task OnValidSubmit()
    {
        await propietarioService.SetPropietario(propietario);
        await OnSaved.InvokeAsync();
        visible = false;
    }
}